@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
html {
    scroll-behavior:smooth;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

/*NAVIGATION*/

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.5rem 0;
    z-index: 30;
    background: linear-gradient(to bottom, rgba( 0, 0, 0, 0.05), transparent);
}


nav .nav__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    color: #f39c12;
    font-size: 1.1rem;
    font-weight: 1000px;
    letter-spacing: 2px;
}


ul{
    list-style-type: none;
    display: flex;
}

ul li a{
    text-decoration:none;
    color:white ;
    padding: 10px 20px;
    transition: 0.2s;
}

ul li a:hover{
    color:#f39c12;
    transition: 2s;
    padding: 10px 20px;
    transition: 0.2s;
}

ul li a.active{
    color:#f39c12;
    transition: 2s;
    padding: 10px 20px;
    transition: 0.2s;
}

.hamburger-menu{
    width: 1.55rem;
    height: 1.5rem;
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: flex-end;
}

.hamburger-menu.active .bar {
    transform: rotate(44deg) ;
}

.hamburger-menu.active .bar:before {
    display: none;
}

.hamburger-menu.active .bar:after {
    transform: rotate(-90deg) translate(0px,-.1px);
    width: 1.50rem;

}

.bar{
    position: relative;
    width: 1.55rem; 
    height: 3px;
    background-color: #f39c12;
    border-radius: 2px;
}

.bar:before, .bar:after{
    content: '';
    position: absolute;
    width: 1.5rem;
    height: 3px;
    right: 0;
    background-color: #f39c12;
    border-radius: 2px;
}

.bar:before{
    transform: translateY(-8px);
}

.bar:after{
    transform: translateY(8px);
}

.nav__container{
    max-width: 70rem;
    padding: 0 2rem;
    margin: 0 auto;
}

#home{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

#home:after{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.05);
    z-index: 25;
}
.content{
    color: #fff;
    transform: translateY(-50px);
}

.scrolled-nav {
    background-color: #151515;
    opacity: 0.9;
}



/*Banner*/
.mountain1{
    position: absolute;
    bottom: -160px;
    width: 1500px;
    right: 0;
    z-index: 19;
}

.person{
    position: absolute;
    width: 450px;
    bottom: -165px;
    left: 0px;
    z-index: 20;
}

.mountain2{
    position: absolute;
    width: 900px;
    bottom: -100px;
    left: 0;
    z-index: 18;
}

.mountain3{
    position: absolute;
    width: 1100px;
    bottom: 170px;
    right: 0;
    z-index: 17;
}

.sky{
    position: absolute;
    width: 100%;
    height: auto;
    bottom: 300px;
    right: 0;
}

.small-title{
    position: absolute;
    z-index: 25;
    line-height: 4rem;
    top: calc(40% - 2rem);
    width: 100%;
    text-align: center;
    font-size: 2.3rem;
    font-weight: 00;
    color: #151515;
}

.big-title{
    position: absolute;
    z-index: 25;
    line-height: 4rem;
    top: calc(50% - 2rem);
    width: 100%;
    text-align: center;
    font-size: 5rem;
    font-weight: 600;
    color: #151515;
}

.shadow{
    position: relative;
    height: 100%;
    width: 100%;
    left: 0;
    z-index: 21;
    background: linear-gradient(to top, #151515 6%, transparent);
}




/* About*/
section{
    width: 100%;
    height: 100vh;
    background-color: #151515;
}

section .about__container{
    width: 1000px;
    padding-top: 20px;
    margin-left:auto;
    margin-right: auto;
    min-height: 100vh;
}


.content{
    color: #fff;
    width: 100%;
}

.title{
    padding-top: 200px;
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    padding-bottom: .5rem;
    position: relative;
    color: #f39c12;
}


.opacity{
    opacity: 0.3;
}

.about__heading{
    display: flex;
    justify-content: space-between;
}

.contact__social a {
    margin-right: 20px; 
    text-decoration: none; 
}
.contact__social img {
    width: 60px;
    height: 60px;
    transition: transform 0.2s ease-in-out;
}
.contact__social {
    margin-top: 20px;
    display: flex; 
    align-items: center;
}

.linkedin{
    width: 60px;
    text-decoration: none;
    margin-top: 10rem;
    background-color: #fff;
    border-radius: 20%;
}

.linkedin:hover{
    background-color: #f39c12;
    transition: all .3s ease-in-out;
}

.github{
    width: 70px;
    text-decoration: none;
    margin-top: 10rem;
    background-color: #fff;
    border-radius: 50%;
}

.github:hover{
    background-color: #f39c12;
    transition: all .3s ease-in-out;
}





/*Skills*/

.skills__content{
    color: #fff;
    width: 40%;
    margin-top: 100px;
    margin-right: auto;
}

.skills__title{
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #f39c12;
}

.stones{
    position: relative;
    width: 350px;
    border-radius: 20px;
    margin-left: 20px;
    z-index: 25;
    filter: drop-shadow(0 0 0.2rem  #fff);
}

.stones1Grey,
.stones2Grey,
.stones3Grey{
    position: absolute;
    z-index: 26;
    height: 50px;
    margin-right: 0px;
}

.stones1Grey{
    height: 42px;
    margin-left: -164px;
    margin-top: 93px;
}

.stones2Grey{
    height: 75px;
    margin-left: -185px;
    margin-top: 129px;
}

.stones3Grey{
    height: 88px;
    margin-left: -198px;
    margin-top: 190px;
}


section .skills__container{
    display: flex;
    justify-content: space-between;
    padding-top: 150px;
    width: 1000px;
    margin-left:auto;
    margin-right: auto;
    min-height: 100vh;
}
.hoverable-image {
    transition: transform 0.4s ease-in-out;
    border-radius: 50%;
    border-style: none;

}

.hoverable-image:hover {
    animation: glowing 2.5s infinite;
    transform: scale(1.1);
    border-style: none;
}

@keyframes glowing {
    0%, 100% {

        box-shadow: inset 0px 0px 50px 100px #f39c12,  0px 0px  20px 10px #f39c12;

    }
    50% {
        box-shadow: inset 0px 0px 50px 100px #f39c12,  0px 0px  20px 10px #f39c12;
    }
}








/*Projects*/

#project{
    width: 100%;
    height: auto;
    padding-bottom: 20px;
    background-color: #151515;
}
iframe{
    width: 500px;
}
.project__title{
    text-align: center;
    padding-top: 80px;
    margin-bottom: 40px;
    font-size: 1.5rem;
    color: #f39c12
}
.project__container1,
.project__container2,
.project__container3{
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin-left: auto;
    margin-right: auto;

}

.project__container2{
    margin-top: 50px;
}
.craft__link{
    display: flex;
    gap: 40px;

}
.cssIcons{
    width: 47px;
    margin-left: 10px;

}
a{
    text-decoration: none;
}
a .githubProject{
    width: 50px;
    text-decoration: none;
    margin-top: 1rem;
    background-color: #fff;
    border-radius: 50%;
    margin-left: 10px;
}

a .githubProject:hover{
    background-color: #f39c12;
    transition: all .3s ease-in-out;
}
.icons{
    width: 40px;
    margin-left: 10px;
    margin-top: 1rem;
}
.project__name{
    color: #f39c12;
    margin-bottom: 15px;
}
.project__content{
    margin-left: 20px;
    width: 520px;
    color: #fff;
}

.icon{
    width: 50px;
    height: 50px;
}
.stacks{
    margin-top: 15px;
}







/*Contact*/
section .contact__container{
    padding: 5rem;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-left:auto;
    margin-right: auto;
    min-height: 100vh;
}

.form__group2{
    display: flex;
    flex-direction: column;
}

.contact__heading{
    margin-bottom: 10px;
    font-size: 1.5rem;
    color: #f39c12;
}

input,
textarea{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border: none;
    outline: none;
    font-family:"Poppins",sans-serif;  
    font-size: 14px;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 10px;
    background-color: #5f5e5e;
    opacity: 0.7;
}

textarea{
    margin-bottom:20px;
}

input::placeholder {
    opacity: 0.9;
    color: #fff;
}

textarea::placeholder {
    opacity: 0.9;
    color: #fff;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button {
    display: block;
    width: 200px;
    height: 36px;
    border-radius: 18px;
    background-color: #f39c12;
    border: solid 1px transparent;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
    transition: all .1s ease-in-out;
}

.button:hover {
    background-color: transparent;
    border-color: #fff;
    transition: all .6s ease-in-out;
}

.error__container{
    height: 70px;
    display: grid;
}

#form__error{
    display: none;
    color: white;
    height: 50px;
    width: auto;
    background-color: red;
    opacity: 0.5;
    margin-top: 10px;
    font-size: 16px;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
}

.error__button{
    text-decoration: none;
    font-size: larger;
    font-weight: bold;
    color: white;
    cursor: pointer;
    margin-left: 340px;
}








/*Footer*/
.footer{
    display:flex;
    background-color: #f39c12;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 8rem;
}


.backTop{
    text-decoration: none;
    width: 200px;
    height: 36px;
    border-radius: 18px;
    background-color: #17181b;
    border: solid 1px transparent;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
    text-align: center;
    margin-top: 20px;
    align-content: center;
    padding-top: 2px;
    margin-bottom: 10px;
    transition: all .1s ease-in-out;
}

.backTop:hover{
        background-color: transparent;
        border-color:  #17181b;
        color: #17181b;
        transition: all .6s ease-in-out;

}

@media (max-width: 1200px){
    .sky{
        width: 100%;
    }
}


@media (max-width: 1000px){
    section .about__container{
        width: 600px;
    }

    section .skills__container{
        width: 600px;
    }  

    section .contact_container{
        width: 600px;
    }
    

    .skills__title{
        margin-top: -50px;
    }

    .stones{
        width: 280px;
    }

    .stones1Grey{
        height: 37px;
        margin-left: -133px;
        margin-top: 73px;
    }
    
    .stones2Grey{
        height: 63px;
        margin-left: -155px;
        margin-top: 105px;
    }
    
    .stones3Grey{
        height: 80px;
        margin-left: -170px;
        margin-top: 153px;
    }

}

@media (max-width: 850px){
    .navbar{
        position: fixed;
        top: 60px;
        left: 0;
        right: 0;
        width: 100%;
        background: #17181b;
        display: none; 
        flex-direction: column; 
        align-items: center;
        z-index: 99;
    }

    .navbar.show{
        display: flex; 
    }

    .navbar ul {
        list-style-type: none;
        display: flex;
        flex-direction: column; 
        align-items: center;
        padding: 0;
        margin: 20px 0;
        z-index: 99;
    }

    .navbar li {
        margin: 10px 0;
    }

    .navbar a {
        text-decoration: none;
        color: white;
        font-size: 1rem;
        transition: 0.2s;
    }

    .navbar a:hover {
        color: #f39c12;
    }

    .hamburger-menu {
        display: flex;
    }
    
    .hamburger-menu .bar {
        width: 1.5rem;
        height: 3px;
        background-color: #f39c12;
        margin: 2px 0;
    }

    .project__container1,
    .project__container2,
    .project__container3{
    display: flex;
    flex-direction: column;
    width:90%;

    }
    iframe{
        width: auto;
    }
    
    .project__content{
        margin-left: 0px;
        width: auto;
        color: #fff;
    }

    .skills__content{
        padding-top: 20px;
    }

    .scrolled-nav {
        background-color: #151515;
        opacity: 1;
    
    }
}
    


@media(max-width: 620px){
    .big-title{
        color: #151515;
        font-size: 3rem;
        text-shadow: 2px 2px 4px #f39c12;
    }

    .small-title{
        color: #151515;
        font-size: 1.5rem;
        text-shadow: 2px 2px 4px#f39c12;
    }

    .text{
        font-size: .8rem;
    }

    .skills__container{
        margin-left: auto;
        margin-right: auto;
    }

    .contact__social a {
        margin-right: 10px; 
    }

    .contact__social img {
        width: 30px;
        height: 30px;
    }

    .instruction,
    .frontend,
    .backend,
    .other,
    .contact__content,
    input,
    textarea,
    .alert-text{
        font-size: .5rem;
    }
    
    section .contact__container{
        padding-top: 6rem;
    }

    .skills__title{
        font-size: 1.5rem;
        margin-top: -10px;
        color: #f39c12;
    }

    section .about__container{
        width: 350px;
        padding: 2rem;
        padding-top:0rem;
    }

    section .skills__container{
        display: block;
        width: 350px;
        padding-top: 60px;
    }

    .skills__content{
        width: 280px;
        height: 180px;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        }
    }

@media(min-height: 700px){
    .shadow{
        height: 100%;
    }
}

@media(min-height: 800px){
    .sky{
        position: absolute;
        width: 100%;
    }
    .shadow{
        height: 100%;
    }
}
@media(min-height: 900px){
    .sky{
        position: absolute;
        width: 100%;
        height: 70vh;
        bottom: 300px;
        right: 0;
    }
        .shadow{
        height: 100%;
    }
}

@media(min-height: 1000px){
    .sky{
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: 300px;
        right: 0;
    }
    .shadow{
        height: 100%;
    }
}
